# Ignore all .pyc files
.pyc
.venv/
__pycache__/

# Ignore all .zip files
*.zip
*.bak

# Ignore all .log files
*.log
logs/*.log

logs/*.*
pong/logs/evaluations.npz
Breakout-v4/logs/evaluations.npz
X/.env

X/images/ai_gen_image.pong
X/images/*.*
*.pem

# sql light db
db/*.sqlite
frontend/db/*.sqlite


node_modules/

accounts/
agents/
frontend/X/.env
frontend/X/users.db
frontend/dump.rdb
frontend/tree.txt
frontend/X/images/
frontend/.env


tree.txt

.env
init-sql-script.sql
init-sql-script-frontend.sql
