# Ignore all .pyc files
.pyc
.venv/
__pycache__/

# Ignore all .zip files
*.zip
*.bak

# Ignore all .log files
*.log
logs/*.log

logs/*.*
pong/logs/evaluations.npz
Breakout-v4/logs/evaluations.npz
X/.env

X/images/ai_gen_image.pong
X/images/*.*
*.pem

# sql light db
db/*.sqlite
