<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Story</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- Edit the text with whatever you want :) --> 
    <!-- Works with emojis too ! -->
    <canvas id="scene"></canvas>
    <center><input id="copy" type="text" value="Ai ♥" /></center>
    <center><a href="/story/">Click or press Enter to continue</a></center>
    

    <div id="terminal"></div>
    <script src="/static/script.js"></script>
</body>
</html>
